#This notebook will be used for the IBM Data Science Specialization Capstone Project.

In [1]:
import pandas as pd
import numpy as np
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes
#import folium

print("Libraries imported.")

Libraries imported.

In [3]:
# send the GET request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [4]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [5]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [6]:
# append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n')) # avoid new lines in neighborhood cell

In [7]:
# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})
toronto_df.head()

  PostalCode             Borough                Neighborhood
0      M1A\n      Not assigned\n
1      M2A\n      Not assigned\n
2      M3A\n        North York\n                   Parkwoods
3      M4A\n        North York\n            Victoria Village
4      M5A\n  Downtown Toronto\n  Regent Park / Harbourfront

In [11]:
toronto_df.shape

(180, 3)

In [8]:
# drop cells with a borough that is Not assigned
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned\n"].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode             Borough                                  Neighborhood
0      M3A\n        North York\n                                     Parkwoods
1      M4A\n        North York\n                              Victoria Village
2      M5A\n  Downtown Toronto\n                    Regent Park / Harbourfront
3      M6A\n        North York\n             Lawrence Manor / Lawrence Heights
4      M7A\n  Downtown Toronto\n  Queen's Park / Ontario Provincial Government

In [10]:
toronto_df_dropna.shape

(103, 3)

In [12]:
# group neighborhoods in the same borough
toronto_df_grouped = toronto_df_dropna.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  PostalCode        Borough                              Neighborhood
0      M1B\n  Scarborough\n                           Malvern / Rouge
1      M1C\n  Scarborough\n  Rouge Hill / Port Union / Highland Creek
2      M1E\n  Scarborough\n       Guildwood / Morningside / West Hill
3      M1G\n  Scarborough\n                                    Woburn
4      M1H\n  Scarborough\n                                 Cedarbrae

In [13]:
# print the number of rows
toronto_df_grouped.shape

(103, 3)

In [14]:
csv_path = 'https://cocl.us/Geospatial_data'
df = pd.read_csv(csv_path)
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
df.shape

(103, 3)

In [16]:
df.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [20]:
toronto_df_grouped.iloc[0,0]

'M1B\n'

In [19]:
df.iloc[0,0]

'M1B'

In [21]:
1 == 1

True

In [22]:
toronto_df_grouped.iloc[0,0] == df.iloc[0,0]  #Can you see, that they are not the same that's the reason they are not able to merge as they are supposed to

False

In [36]:
toronto_df_grouped['Neighborhood'] = toronto_df_grouped['Neighborhood'].str.replace(' /', ',')

In [37]:
toronto_df_grouped['PostalCode'] = toronto_df_grouped['PostalCode'].str.replace('\n', '')

In [38]:
toronto_df_grouped['Borough'] = toronto_df_grouped['Borough'].str.replace('\n', '')

In [40]:
toronto_df_grouped.head() #See, now the data is good to go

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [41]:
#we can also check the equality condition
toronto_df_grouped.iloc[0,0] == df.iloc[0,0]

True

In [43]:
#Now we can merge it easily
toronto_df_new2 = pd.merge(left=df, right=toronto_df_grouped, left_on='PostalCode', right_on='PostalCode')
toronto_df_new2.head() 
#There you go

,PostalCode,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae

In [70]:
toronto_df_new = toronto_df_grouped.merge(df, on="PostalCode", how='left')
toronto_df_new.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B\n,Scarborough\n,Malvern / Rouge,NaN,NaN
1,M1C\n,Scarborough\n,Rouge Hill / Port Union / Highland Creek,NaN,NaN
2,M1E\n,Scarborough\n,Guildwood / Morningside / West Hill,NaN,NaN
3,M1G\n,Scarborough\n,Woburn,NaN,NaN
4,M1H\n,Scarborough\n,Cedarbrae,NaN,NaN

In [73]:
# merge two table on the column "PostalCode"
toronto_df_new2 = pd.merge(left=df, right=toronto_df_grouped, left_on='PostalCode', right_on='PostalCode')
toronto_df_new2

Empty DataFrame
Columns: [PostalCode, Latitude, Longitude, Borough, Neighborhood]
Index: []

In [53]:
result = pd.concat([toronto_df_grouped, df], axis = 1, sort=False)
result

,PostalCode,Borough,Neighborhood,PostalCode,Latitude,Longitude
0,M1B\n,Scarborough\n,Malvern / Rouge,M1B,43.806686,-79.194353
1,M1C\n,Scarborough\n,Rouge Hill / Port Union / Highland Creek,M1C,43.784535,-79.160497
2,M1E\n,Scarborough\n,Guildwood / Morningside / West Hill,M1E,43.763573,-79.188711
3,M1G\n,Scarborough\n,Woburn,M1G,43.770992,-79.216917
4,M1H\n,Scarborough\n,Cedarbrae,M1H,43.773136,-79.239476
5,M1J\n,Scarborough\n,Scarborough Village,M1J,43.744734,-79.239476
6,M1K\n,Scarborough\n,Kennedy Park / Ionview / East Birchmount Park,M1K,43.727929,-79.262029
7,M1L\n,Scarborough\n,Golden Mile / Clairlea / Oakridge,M1L,43.711112,-79.284577
8,M1M\n,Scarborough\n,Cliffside / Cliffcrest / Scarborough Village West,M1M,43.716316,-79.239476
9,M1N\n,Scarborough\n,Birch Cliff / Cliffside West,M1N,43.692657,-79.264848
10,M1P\n,Scarborough\n,Dorset Park / Wexford Heights / Scarborough To...,M1P,43.757410,-79.273304
11,M1R\n,Scarborough\n,Wexford / Maryvale,M1R,43.750072,-79.295849
12,M1S\n,Scarborough\n,Agincourt,M1S,43.794200,-79.262029
13,M1T\n,Scarborough\n,Clarks Corners / Tam O'Shanter / Sullivan,M1T,43.781638,-79.304302
14,M1V\n,Scarborough\n,Milliken / Agincourt North / Steeles East / L'...,M1V,43.815252,-79.284577
15,M1W\n,Scarborough\n,Steeles West / L'Amoreaux West,M1W,43.799525,-79.318389
16,M1X\n,Scarborough\n,Upper Rouge,M1X,43.836125,-79.205636
17,M2H\n,North York\n,Hillcrest Village,M2H,43.803762,-79.363452
18,M2J\n,North York\n,Fairview / Henry Farm / Oriole,M2J,43.778517,-79.346556
19,M2K\n,North York\n,Bayview Village,M2K,43.786947,-79.385975
20,M2L\n,North York\n,York Mills / Silver Hills,M2L,43.757490,-79.374714
21,M2M\n,North York\n,Willowdale / Newtonbrook,M2M,43.789053,-79.408493
22,M2N\n,North York\n,Willowdale,M2N,43.770120,-79.408493
23,M2P\n,North York\n,York Mills West,M2P,43.752758,-79.400049
24,M2R\n,North York\n,Willowdale,M2R,43.782736,-79.442259
25,M3A\n,North York\n,Parkwoods,M3A,43.753259,-79.329656
26,M3B\n,North York\n,Don Mills,M3B,43.745906,-79.352188
27,M3C\n,North York\n,Don Mills,M3C,43.725900,-79.340923
28,M3H\n,North York\n,Bathurst Manor / Wilson Heights / Downsview North,M3H,43.754328,-79.442259
29,M3J\n,North York\n,Northwood Park / York University,M3J,43.767980,-79.487262
30,M3K\n,North York\n,Downsview,M3K,43.737473,-79.464763
31,M3L\n,North York\n,Downsview,M3L,43.739015,-79.506944
32,M3M\n,North York\n,Downsview,M3M,43.728496,-79.495697
33,M3N\n,North York\n,Downsview,M3N,43.761631,-79.520999
34,M4A\n,North York\n,Victoria Village,M4A,43.725882,-79.315572
35,M4B\n,East York\n,Parkview Hill / Woodbine Gardens,M4B,43.706397,-79.309937
36,M4C\n,East York\n,Woodbine Heights,M4C,43.695344,-79.318389
37,M4E\n,East Toronto\n,The Beaches,M4E,43.676357,-79.293031
38,M4G\n,East York\n,Leaside,M4G,43.709060,-79.363452
39,M4H\n,East York\n,Thorncliffe Park,M4H,43.705369,-79.349372
40,M4J\n,East York\n,East Toronto,M4J,43.685347,-79.338106
41,M4K\n,East Toronto\n,The Danforth West / Riverdale,M4K,43.679557,-79.352188
42,M4L\n,East Toronto\n,India Bazaar / The Beaches West,M4L,43.668999,-79.315572
43,M4M\n,East Toronto\n,Studio District,M4M,43.659526,-79.340923
44,M4N\n,Central Toronto\n,Lawrence Park,M4N,43.728020,-79.388790
45,M4P\n,Central Toronto\n,Davisville North,M4P,43.712751,-79.390197
46,M4R\n,Central Toronto\n,North Toronto West,M4R,43.715383,-79.405678
47,M4S\n,Central Toronto\n,Davisville,M4S,43.704324,-79.388790
48,M4T\n,Central Toronto\n,Moore Park / Summerhill East,M4T,43.689574,-79.383160
49,M4V\n,Central Toronto\n,Summerhill West / Rathnelly / South Hill / For...,M4V,43.686412,-79.400049
50,M4W\n,Downtown Toronto\n,Rosedale,M4W,43.679563,-79.377529
51,M4X\n,Downtown Toronto\n,St. James Town / Cabbagetown,M4X,43.667967,-79.367675
52,M4Y\n,Downtown Toronto\n,Church and Wellesley,M4Y,43.665860,-79.383160
53,M5A\n,Downtown Toronto\n,Regent Park / Harbourfront,M5A,43.654260,-79.360636
54,M5B\n,Downtown Toronto\n,Garden District / Ryerson,M5B,43.657162,-79.378937
55,M5C\n,Downtown Toronto\n,St. James Town,M5C,43.651494,-79.375418
56,M5E\n,Downtown Toronto\n,Berczy Park,M5E,43.644771,-79.373306
57,M5G\n,Downtown Toronto\n,Central Bay Street,M5G,43.657952,-79.387383
58,M5H\n,Downtown Toronto\n,Richmond / Adelaide / King,M5H,43.650571,-79.384568
59,M5J\n,Downtown Toronto\n,Harbourfront East / Union Station / Toronto Is...,M5J,43.640816,-79.381752
60,M5K\n,Downtown Toronto\n,Toronto Dominion Centre / Design Exchange,M5K,43.647177,-79.381576
61,M5L\n,Downtown Toronto\n,Commerce Court / Victoria Hotel,M5L,43.648198,-79.379817
62,M5M\n,North York\n,Bedford Park / Lawrence Manor East,M5M,43.733283,-79.419750
63,M5N\n,Central Toronto\n,Roselawn,M5N,43.711695,-79.416936
64,M5P\n,Central Toronto\n,Forest Hill North & West,M5P,43.696948,-79.411307
65,M5R\n,Central Toronto\n,The Annex / North Midtown / Yorkville,M5R,43.672710,-79.405678
66,M5S\n,Downtown Toronto\n,University of Toronto / Harbord,M5S,43.662696,-79.400049
67,M5T\n,Downtown Toronto\n,Kensington Market / Chinatown / Grange Park,M5T,43.653206,-79.400049
68,M5V\n,Downtown Toronto\n,CN Tower / King and Spadina / Railway Lands / ...,M5V,43.628947,-79.394420
69,M5W\n,Downtown Toronto\n,Stn A PO Boxes,M5W,43.646435,-79.374846
70,M5X\n,Downtown Toronto\n,First Canadian Place / Underground city,M5X,43.648429,-79.382280
71,M6A\n,North York\n,Lawrence Manor / Lawrence Heights,M6A,43.718518,-79.464763
72,M6B\n,North York\n,Glencairn,M6B,43.709577,-79.445073
73,M6C\n,York\n,Humewood-Cedarvale,M6C,43.693781,-79.428191
74,M6E\n,York\n,Caledonia-Fairbanks,M6E,43.689026,-79.453512
75,M6G\n,Downtown Toronto\n,Christie,M6G,43.669542,-79.422564
76,M6H\n,West Toronto\n,Dufferin / Dovercourt Village,M6H,43.669005,-79.442259
77,M6J\n,West Toronto\n,Little Portugal / Trinity,M6J,43.647927,-79.419750
78,M6K\n,West Toronto\n,Brockton / Parkdale Village / Exhibition Place,M6K,43.636847,-79.428191
79,M6L\n,North York\n,North Park / Maple Leaf Park / Upwood Park,M6L,43.713756,-79.490074
80,M6M\n,York\n,Del Ray / Mount Dennis / Keelsdale and Silvert...,M6M,43.691116,-79.476013
81,M6N\n,York\n,Runnymede / The Junction North,M6N,43.673185,-79.487262
82,M6P\n,West Toronto\n,High Park / The Junction South,M6P,43.661608,-79.464763
83,M6R\n,West Toronto\n,Parkdale / Roncesvalles,M6R,43.648960,-79.456325
84,M6S\n,West Toronto\n,Runnymede / Swansea,M6S,43.651571,-79.484450
85,M7A\n,Downtown Toronto\n,Queen's Park / Ontario Provincial Government,M7A,43.662301,-79.389494
86,M7R\n,Mississauga\n,Canada Post Gateway Processing Centre,M7R,43.636966,-79.615819
87,M7Y\n,East Toronto\n,Business reply mail Processing Centre,M7Y,43.662744,-79.321558
88,M8V\n,Etobicoke\n,New Toronto / Mimico South / Humber Bay Shores,M8V,43.605647,-79.501321
89,M8W\n,Etobicoke\n,Alderwood / Long Branch,M8W,43.602414,-79.543484
90,M8X\n,Etobicoke\n,The Kingsway / Montgomery Road / Old Mill North,M8X,43.653654,-79.506944
91,M8Y\n,Etobicoke\n,Old Mill South / King's Mill Park / Sunnylea /...,M8Y,43.636258,-79.498509
92,M8Z\n,Etobicoke\n,Mimico NW / The Queensway West / South of Bloo...,M8Z,43.628841,-79.520999
93,M9A\n,Etobicoke\n,Islington Avenue,M9A,43.667856,-79.532242
94,M9B\n,Etobicoke\n,West Deane Park / Princess Gardens / Martin Gr...,M9B,43.650943,-79.554724
95,M9C\n,Etobicoke\n,Eringate / Bloordale Gardens / Old Burnhamthor...,M9C,43.643515,-79.577201
96,M9L\n,North York\n,Humber Summit,M9L,43.756303,-79.565963
97,M9M\n,North York\n,Humberlea / Emery,M9M,43.724766,-79.532242
98,M9N\n,York\n,Weston,M9N,43.706876,-79.518188
99,M9P\n,Etobicoke\n,Westmount,M9P,43.696319,-79.532242
100,M9R\n,Etobicoke\n,Kingsview Village / St. Phillips / Martin Grov...,M9R,43.688905,-79.554724
101,M9V\n,Etobicoke\n,South Steeles / Silverstone / Humbergate / Jam...,M9V,43.739416,-79.588437
102,M9W\n,Etobicoke\n,Northwest,M9W,43.706748,-79.594054

In [74]:
toronto_df_new3 = toronto_df_grouped.merge(left='df', right='toronto_df_grouped')
toronto_df_new3.head()

TypeError: merge() got an unexpected keyword argument 'left'

In [58]:
df2=pd.read_csv('C:\Users\Owner\Documents\Coursera courses\Data Science Specialization\Course 9 Capstone Project\Geospatial_Coordinates.csv')
print (df2)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-58-f96b1b808eac>, line 1)